canvas {
    padding-left: 0;  
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}

body {
    background-image: linear-gradient(to left, rgb(107, 202, 170), blueviolet);
}

a {
    text-decoration: none;
}