canvas {
    padding-left: 0;  
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}

body {
    background-size: cover;
    background-image: url(./backgroud.png);
}

a {
    text-decoration: none;
}

html {
    touch-action: manipulation;
}

#rules {
    color: white;
}

h4 {
    color: white;
}

label {
    color: white;
}