canvas {
    padding-left: 0;  
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}

body {
    background-image: linear-gradient(to left, rgb(107, 202, 170), blueviolet);
}

a {
    text-decoration: none;
}

html {
    touch-action: manipulation;
}

#rules {
    background-color: white;
    border: 5px solid;
    border-radius: 20%;
    width: fit-content;
}