.Header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: 125px;
    object-fit: cover;
}

#TagGame {
    background-image: linear-gradient(to right, red, rgb(33,66,99));
    display: flex;
    width: 150px;
    height: auto;
}