.Header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    height: 100px;
    width: 125px;
    object-fit: cover;
}

.game {
    background-image: white;
    display: flex;
    width: 150px;
    height: auto;
}

body {
    background-image: linear-gradient(to left, aquamarine, blueviolet);
}

.Items {
    display: flex;
}

p {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}