.Header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    height: 150;
    width: 15vw;
    max-width: 150px;
    object-fit: cover;
}

.game {
    background-image: white;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

body {
    background-image: linear-gradient(to left, rgb(107, 202, 170), blueviolet);
}

.Items {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

p {
    color: rgb(255, 255, 255);
}

p:hover {
    color:rgb(23, 223, 234)
}

a {
    text-decoration-line: none;
}