.Header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    height: 100px;
    width: 125px;
    object-fit: cover;
}

#TagGame {
    background-image: white;
    display: flex;
    width: 150px;
    height: auto;
}

body {
    background-color: black;
}

p {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}